<header class="hana-header" style="background:#ffffff; border-bottom:1px solid #e5e5e5;">
  <nav>
    <ul class="flex gap-6 text-sm uppercase tracking-wide">
      <li><a href="/" class="text-[#d63484] hover:text-[#b42d6e]">Início</a></li>
      <li><a href="/collections/adesivos" class="text-[#d63484] hover:text-[#b42d6e]">Adesivos</a></li>
      <li><a href="/collections/amlash" class="text-[#d63484] hover:text-[#b42d6e]">AmLash</a></li>
      <li><a href="/collections/removedores" class="text-[#d63484] hover:text-[#b42d6e]">Removedores</a></li>
    </ul>
  </nav>
</header>
